@use '../../scss/colors';

.CheckedInput {
    label {
        font-weight: bold;

        &::after {
            content: " ▼";
            font-size: 0.8em;
        }

        &:hover {
            cursor: pointer;
        }
    }

    div {
        margin-bottom: 0.25em;
        margin-top: 0.25em;
    }
    
    input[type="checkbox"] {
        accent-color: colors.$base-color;
    }

    input[type="number"] {
        margin-top: 0.25em;
        margin-left: 1.5em;
        width: 8em;
        
        &:focus {
            outline: 2px solid colors.$base-color;
        }
    }
}