@use "../../scss/colors";

.DateForm {
    display: flex;
    flex-direction: column;

    label {
        font-weight: bold;
        margin-left: 1.4em;

        &::after {
            content: " ▼";
            font-size: 0.8em;
            color: black;
        }

        &:hover {
            cursor: pointer;
        }
    }

    label.clicked {
        color: #00bde9;
    }

    div {
        margin-top: 0.25em;
        margin-left: 2.2em;
        display: flex;
        border: 1px solid #ababb5;
        border-radius: 3px;
        padding: 0.25em;
        font-size: 0.6em;
    }

    div.hidden {
        visibility: hidden;
        height: 0;
        margin: 0;
        padding: 0;
    }

    div.focus {
        outline: 2px solid colors.$base-color;
    }

    p {
        margin: 0;
        margin-right: 0.25em;
        margin-left: 0.25em;
    }

    input {
        border: none;
        outline: none;
    }
}