@use '../../scss/colors';

.IdCheckbox {
    display: flex;
    flex-direction: column;
    p {
        margin: 0;
        margin-top: 0.25em;
        margin-bottom: 0.25em;
        margin-left: 1.4em;
        font-weight: bold;

        &::after {
            content: " ▼";
            font-size: 0.8em;
            color: black;
        }

        &:hover {
            cursor: pointer;
        }
    }

    p.usual {
        font-weight: normal;
        &::after {
            content: ""
        }
        &:hover {
            cursor: default;
        }
    }

    input {
        accent-color: colors.$base-color;
        align-self: self-start;
    }

    li {
        margin-left: calc(1.4em + 1.1em);
        display: flex;
    }

    label {
        margin-left: 0.25em;
    }
}