@use '../../scss/colors';

.Select {
    display: flex;
    flex-direction: column;
    label {
        margin-left: 1.4em;
        font-weight: bold;

        &::after {
            content: " ▼";
            font-size: 0.8em;
            color: black;
        }

        &:hover {
            cursor: pointer;
        }
    }

    div {
        margin-bottom: 0.25em;
        margin-top: 0.25em;
    }

    select {
        margin-top: 0.25em;
        margin-left: 1.75em;
        width: 8em;
        border: 1px solid colors.$background-color;
        padding: 0.25em;
    }
}

.Select.EditSelect {
    margin-bottom: 0;
    select {
        margin-left: 0;
    }
    div {
        margin-bottom: 0;
    }
    label {
        margin-left: 0;
        margin-top: 0.3em;
    }
}