@use './scss/colors';

.App {
    font-style: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
    width: 100vw;
    ::selection {
        background-color: #00bde9;
        color: white;
    }
}

.Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: colors.$base-color;

    &:hover {
        cursor: pointer;
    }
}

.EditIcon {
    height: 2em;
    align-self: center;
    margin-left: 0.6em;
    &:hover {
        cursor: pointer;
    }
}

.Nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: colors.$background-color;
    margin: 0;
    padding: 0;
    letter-spacing: 0.07em;
    font-size: 0.9em;
    margin-left: -0.5em;

    li {
        list-style: none;
        padding: 1em;
        cursor: pointer;
        font-weight: bold;

        &:hover {
            background-color: #686868;
            color: #fff;
        }

        &::after {
            content: " ▼";
            font-size: 0.8em;
        }
    }
}

.NavList {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    li {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

.MicroNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #434343;
    margin: 0;
    padding: 0.5em;
    width: 100vw;
    flex-wrap: wrap;

    li {
        list-style: none;
        padding: 0.5em;

        a {
            text-decoration: none;
            color: #fff;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}