@use "./colors";

.ListHeader {
    margin-bottom: 0;
}

.List {
    margin: 0;
    margin-top: 0.5em;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    column-gap: 4em;
    
    ol {
        padding: 0;
        margin: 0;
    }

    li {
        list-style: none;
        flex-grow: 1;
        width: 17em;
        min-width: 17em;
        max-width: 17em;
        margin-bottom: 0.3em;
    }

    .header {
        color: white;
        padding: 1em;
        background-color: colors.$base-color;
        margin: 0.5em;
        margin-right: 2em;
        margin-left: 0.1em;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        gap: 0.5em;

        p {
            margin: 0;
            padding: 0;
            align-self: center;
            display: flex;
            justify-content: space-between;
            flex-grow: 1;
            &::after {
                content: " ▶";
                margin-right: 1em;
                align-self: center;
                font-size: 0.8em;
                animation-name: arrow-rotate-backward;
                animation-timing-function: linear;
                rotate: 0deg;
                animation-duration: 0.3s;
                @keyframes arrow-rotate-backward {
                    from {
                        rotate: 90deg;
                    }
                    to {
                        rotate: 0deg;
                    }
                }
            }
        }
        
        img {
            height: 1em;
            align-self: center;
            filter: invert(100%);
            &:hover {
                cursor: pointer;
            }
        }

        &:hover {
            cursor: pointer;
        }
    }

    .header.visible {
        p {
            &::after {
                animation-duration: 0.3s;
                animation-name: arrow-rotate;
                animation-timing-function: linear;
                rotate: 90deg;
                @keyframes arrow-rotate {
                    from {
                        rotate: 0deg;
                    }
                    to {
                        rotate: 90deg;
                    }
                }
            }
        }
    }

    .header.not_expandable {
        &::after {
            content: "";
        }

        &:hover {
            cursor: auto;
        }
    }

    .content {
        border: 3px solid colors.$base-color;
        width: 17em;
        padding: 1em;
        margin-top: 1em;

        p {
            margin: 0;
            margin-bottom: 0.25em;
            ::selection {
                background-color: #00bde9;
                color: white;
            }
        }
    }
}

.small {
    margin-left: 1.5em;
}