@use "./colors";

.ListHeader {
    margin-bottom: 0;
}

.List {
    margin: 0;
    margin-top: 0.5em;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: 0.1em;

    ol {
        padding: 0;
        margin: 0;
    }

    li {
        list-style: none;
        flex-grow: 1;
        width: 17em;
        min-width: 17em;
        max-width: 17em;
        margin-bottom: 0.3em;
    }

    .header {
        color: white;
        padding: 1em;
        background-color: colors.$base-color;
        margin: 0.5em;
        margin-right: 2em;
        margin-left: 0.1em;
        font-weight: bold;

        &::after {
            content: " ▶";
            float: right;
            font-size: 0.8em;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .header.visible {
        &::after {
            content: " ▼";
            margin-top: 0.25em;
        }
    }

    .header.not_expandable {
        &::after {
            content: "";
        }

        &:hover {
            cursor: auto;
        }
    }

    .content {
        border: 3px solid colors.$base-color;
        width: calc(100% - 4.3em);
        padding: 1em;
        margin-top: 1em;

        p {
            margin: 0;
            margin-bottom: 0.25em;
            ::selection {
                background-color: #00bde9;
                color: white;
            }
        }
    }
}