.Split {
    display: flex;
    margin-top: 1em;
    margin-left: 2em;
    
    form {
        margin-right: 2em;
    }

    div {
        width: 100%;
    }
}

@media (orientation: portrait) and (max-width: 700px) {
    .Split {
        flex-direction: column;
    }
}