@use '../../scss/colors';

.TextInput {
    display: flex;
    justify-content: space-between;
    input {
        margin-right: 1em;
        &:focus {
            outline: 2px solid colors.$base-color;
        }
    }
}

.FormContent {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    .AddButtonLi {
        margin-top: 0.5em;
        align-self: center;
        display: flex;
        flex-direction: column;
    }
    .AddButton {
        margin-top: 0.5em;
        background-color: colors.$base-color;
        border: 1px solid colors.$base-color;
        padding: 0.7em;
        padding-right: 2em;
        padding-left: 2em;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        align-self: center;
        &:hover {
            cursor: pointer;
            background-color: #00bde9;
        }
    }
    .AddButton.loading {
        padding: 0.3em;
        padding-left: 3.125em;
        padding-right: 3.125em;
        img {
            height: 1.5em;
            animation-duration: 0.7s;
            animation-name: loading-rotate;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            filter: invert(100%);
        }
    }

    @keyframes loading-rotate {
        from {
            rotate: 0deg;
        }
        to {
            rotate: 360deg;
        }
    }
}